@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }

  body {
    @apply min-h-screen bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-white;
  }
}
